.fullsize {
  width: 100%;
  height: 100%;
}
.phandau {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
/* The navbar container */
.trinhdon {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: # F08080;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: # FFC1C1;
  color: black;
}
.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
.content
{
  float: left;
  padding: 10px;
}
.content.left {
  width: 30%;
}

.content.right {
  width: 70%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
